NEXT_PUBLIC_MAMC_WEBSITE_URL=https://mamc.vercel.app/
NEXT_PUBLIC_MAMC_FACEBOOK_URL=https://www.facebook.com/MadonnaAndChildMC
NEXT_PUBLIC_MAMC_GOOGLE_URL=https://search.google.com/local/writereview?placeid=ChIJy_Z9xS7z_zIRYzXdjpQay4Y
NEXT_PUBLIC_MAMC_SURVEY_URL=
NEXT_PUBLIC_MAMC_HOSPITAL_MAP_URL=
